table{
    border:1px solid rgb(180,180,180);
    border-collapse: collapse;  
}
td{
    border:1px solid rgb(180,180,180);
    padding: 8px 50px 8px 4px;
}

.Header{
    background-color: rgb(177,217,228);
    font-weight: 600;
}